body {
    font-family: Georgia, "Times New Roman", Times, serif;
    margin: 0;
}


/* NAVBAR */
nav {
    position: sticky; top: 0;
    width: 100vw;
    height: 11vh;
    background: white;
    display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;
    z-index: 4;

    min-height: fit-content;
}

nav>a {
    width: 70%;
    max-width: fit-content;
    max-height: fit-content;
    padding: 0.7rem;
}

nav>a>img {
    width: 100%;
    max-width: fit-content;
    max-height: fit-content;
    padding: 0.7rem;
}

@media all and (max-width: 250px) {
    nav>a {
        width: 50%;
    }
}


/* MENUBAR ICON */
.menu-toggle {
    display: none;
}

/* thanks to https://codepen.io/designcouch/pen/ExvwPY for the animation */
#mobile-menu-icon {
    display: block;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    cursor: pointer;
    width: 2rem;
    height: 1.2rem;
    margin-right: 0.7rem;
}



#mobile-menu-icon span {
    display: block;
    position: absolute;
    height: 0.2rem;
    width: 90%;
    background: #000000;
    border-radius: 0.2rem;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}



#mobile-menu-icon span:nth-child(1) {
    top: 0;
}

#mobile-menu-icon span:nth-child(2),#mobile-menu-icon span:nth-child(3) {
    top: .5rem;
}

#mobile-menu-icon span:nth-child(4) {
    top: 1rem;
}

.menu-toggle:checked ~ #mobile-menu-icon span:nth-child(1) {
    top: .5rem;
    width: 0;
    left: 50%;
}

.menu-toggle:checked ~ #mobile-menu-icon span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.menu-toggle:checked ~ #mobile-menu-icon span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.menu-toggle:checked ~ #mobile-menu-icon span:nth-child(4) {
    top: .5rem;
    width: 0;
    left: 50%;
}

#menu {
    display: flex; flex-direction: column; align-items: center; row-gap: 1.5rem;
    position: fixed;
    height: 0vh; width: 100vw; top: 11vh; left: 0;
    background-color: white;
    overflow: hidden;
    z-index: 3;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}

.menu-toggle:checked ~ #menu {
    padding-top: 4rem;
    height: 100vh;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}

#menu>a {
    font-size: 2rem;
    text-decoration: none;
    color: black;
}


/* FOOTER */
footer {
    display: flex; flex-direction: row; align-items: flex-end;
    width: 100vw;
    background: black;
    height: auto;
    position: relative; bottom: 0;
    z-index: 3;
}
footer>img {
    width: 60%;
    max-width: 400px;
    filter: brightness(2);
}

footer>div>p {
    color: #999;
}
footer>div>a:hover {
    color: #ccc !important;
    cursor: pointer;
}
footer>div {
    display: flex; flex-direction: column; align-items: flex-end;
    position: absolute; right: 1rem;
}

/* LINKS */
a {
    text-decoration: underline; text-decoration-thickness: 0.2rem; text-underline-offset: 0.1rem; text-decoration-skip-ink: none;
    color: rgba(109, 152, 186);
}
a:hover {
    text-decoration: underline;
    color: black;
}
a:visited {
    color: rgb(82, 107, 134);
}


/* CONTENT */
@media all and (min-width: 1200px) {
    .page-wrapper {
        padding: 0 10vw 0;
        width: 80vw !important;
    }
    .content-item {
        width: 32vw;
    }
}

.page-wrapper {
    width: 100vw; height: 100%;
    box-shadow: 0 -8px 8px rgba(0, 0, 0, 0.1);
    margin-top: 50vh;

    -webkit-backdrop-filter: blur(50px) brightness(1);
    backdrop-filter: blur(50px) brightness(1);
    background: rgba(255, 255, 255, 0.24);

    display: flex; flex-direction: row; flex-wrap: wrap; column-gap: 3rem; row-gap: 2rem; justify-content: space-around;
    padding-top: 8rem; padding-bottom: 3rem;
    text-shadow: 1px 1px 0 #fff;
}

/* HEADER */
header {
    width: 100vw;
    height: 80vh;
    padding-bottom: 20vh;
    position: fixed;


    background-image: url("../img/bg.jpeg");
    background-repeat: repeat-y;
}

@media all and (min-width: 410px) {
    header {
        display: flex; justify-content: center;
    }
    header>a>img, header>img {
        width: auto !important;
        height: 40vh !important;
    }
}


header>a>img, header>img {
    margin: 2.5rem 5vw 0 5vw;
    max-width: fit-content;
    max-height: fit-content;
    width: 90vw;
    height: auto;
}


.content-item {
    display: flex; flex-direction: column; align-items: center;
    margin-left: 1.5rem; margin-right: 1.5rem;
}

h1 {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 2rem 0 2rem;
    text-align: center;
}

.page-wrapper>div>p, ul {
    line-height: 160%;
    margin: 0 .7rem 1rem;
    font-size: 1.3rem;
    text-align: justify;
}

.gallery-wrapper {
    display: flex; flex-direction: row; gap: 3rem; align-items: center; justify-content: center; flex-wrap: wrap;
    width: 90vw;
}


.gallery-wrapper>a, .gallery-wrapper>div {
    width: fit-content;
    height: auto;
    display: flex; align-items: center; justify-content: center;

}

.gallery-wrapper>a>span, .gallery-wrapper>div>span{
    text-align: center;
    position: absolute;
    font-size: 2.6rem;
    z-index: 1;
    /*-webkit-box-shadow: inset 1px 2px 5px #777;
    -moz-box-shadow: inset 1px 2px 5px #777;*/
    padding: 0.4rem 0.6rem;
    -webkit-backdrop-filter: blur(5px) brightness(.6);
    backdrop-filter: blur(5px) brightness(.6);
    border-radius: 0.3rem;

    color: #edcd96 /*whitesmoke*/;
    text-shadow: none;
}

.gallery-wrapper>div>span{
    -webkit-backdrop-filter: blur(15px) brightness(.5);
    backdrop-filter: blur(15px) brightness(.5);
}

.small-font-box {
    font-size: 1.8rem !important;
}

.small-font-box>a {
    color: #edcd96;
}

.small-font-box>a:hover {
    color: whitesmoke;
}


#kontakt>a {
    font-size: 1.8rem;
}

/* todo potentially need to downscale fonts for very small devices */
/* ONLY ON MOBILE */
@media all and (max-width: 320px) {
    .gallery-wrapper {
        width: 100vw;
    }

    .small-font-box {
        font-size: 8vw !important;
    }


    .gallery-wrapper>a>span, .gallery-wrapper>div>span {
        font-size: 12vw;
    }

    .mobile-hide {
        display: none;
    }

    ul {
        margin-left: -1rem;
    }
}


.gallery-wrapper>a>img, .gallery-wrapper>img, .gallery-wrapper>div>img {
    max-width: fit-content;
    max-height: fit-content;
    width: 90vw;
    border-radius: 1rem;
}

.gallery-wrapper>a>img, .gallery-wrapper>div>img {
    filter: grayscale(40%) ;
}


#back-to-home {
    position: absolute;
    top: 63vh; left: 1.8rem;
    color: rgba(109, 152, 186);
    text-decoration: none;
}

#back-to-home::before {
    content: '←';
    font-size: 4rem;
    position: absolute;
    top: -1.5rem; left: -1.3rem;
}